.chat-side
  .header
    .header__box
      %p.header__box__user-name
        test
      %ul.header__box__menu
        %li.header__box__menu__new-group
          
          = icon('fa', 'edit')
          %span<>
        %li.header__box__menu__edit-user
          
          = icon('fa', 'cog')
          %span<>

  .groups
    = link_to "#" , class: "group" do
      %p.group__group-name
        グループなし
      %p.group__group-message
        メッセージなし
    